$font-s: 24px;
$font-m: 32px;
$font-l: 40px;
$lh-s: 48px;
$lh-m: 60px;
$lh-l: 192px;
$primary: #650300;
$secondary: #FBF2F2;
$danger: #AA0601;
$dark:#000000;
$light:#FFFFFF;
$mb-s: 8px;
$mb-m: 16px;
$mb-l: 40px;




